body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/Background/fundo.png');
    background-size: cover;
    background-position: center;
    animation: moveBackground 15s linear infinite;
    overflow: hidden;
    /* Evita a rolagem */
}

/* Animação de movimento */
@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.input-group input {
    width: 94%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #04e5eb;
}

.input-group label i {
    margin-right: 10px;
    color: #04e5eb;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #04e5eb;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #67f5fa;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #0468eb;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .login-container {
        max-width: 90%;
    }
}